
<div class="apparel-type-input">

  <label class="apparel-label">Type:</label>
  <br>

  <h4>Coat</h4>
  {{input click=(action "atiToggled" "Coat")
    type="radio"
    value=ati
    name="kind"
    class="ati-radio"
  }}
  <br>

  <h4>Jacket</h4>
  {{input click=(action "atiToggled" "Jacket")
    type="radio"
    value=ati
    name="kind"
    class="ati-radio"
  }}
  <br>

  <h4>Shirt</h4>
  {{input click=(action "atiToggled" "Shirt")
    type="radio"
    value=ati
    name="kind"
    class="ati-radio"
  }}
  <br>

  <h4>Sweater</h4>
  {{input click=(action "atiToggled" "Sweater")
    type="radio"
    value=ati
    name="kind"
    class="ati-radio"
  }}
  <br>

</div>
