<div class="apparel-name-input">
  <label class="apparel-label">Name</label>
  {{input type="text"
          placeholder="Description: 40 Characters Maximum"
          value=ani
          class="ani"
          maxlength=40
  }}
</div>
