{{apparel-name ani=apparel.name}}
{{apparel-type ati=apparel.clothingType}}

<button class="apparel-submit-input"
        type="submit"
        class="btn btn-primary"
        {{action "create"}}>
        Submit
</button>

{{#link-to 'apparels'
           class="apparel-submit-input"
           class="btn btn-danger"
}}Cancel
{{/link-to}}
