<label for="ati">Type</label>

<div {{action "atiToggled" "Coat"}}>
  Coat
{{input
  type="radio"
  value=ati
  name="kind"
}}

</div>

<div {{action "atiToggled" "Jacket"}}>
  Jacket
{{input
  type="radio"
  value=ati
  name="kind"
}}

</div>
