
<form class="form-group" {{action "getLocation" on="submit"}}>

{{input type="text"
        value=location
        placeholder="Zip Code OR City Name"
        id="location"
        class="location-input"
}}

<button type="submit" class="btn btn-primary">Submit</button>

</form>
