@import 'bootstrap';
@import 'bootstrap/theme';

.center-stuff {
  text-align: center;
}

.my-weather-logo {
  text-align: center;
  color: white;
  font-size: 50px;
  font-weight: bold;
  font-family: fantasy;
}

// body {
//     background-color: #6b92b9;
//     background-image: url('https://i.imgur.com/BiSmXaq.png'), url('https://i.imgur.com/XHuy0NJ.png'), url('https://i.imgur.com/okpRxJU.png');
//     -webkit-animation: snow 20s linear infinite;
//     -moz-animation: snow 20s linear infinite;
//     -ms-animation: snow 20s linear infinite;
//     animation: snow 20s linear infinite;
// }

.d-btn{
  margin: 5px;
  border: 2px solid black;
}

.apparel-table{
  width: 50%;
}

.apparel-type-input, .apparel-name-input, .apparel-submit-input{
  margin: 0 0 0 10%;
}

.apparel-type-input{
  width: 30%;
}

.ani{
  width: 50%;
  border: 2px solid black;
}

.apparel-label{
  font-size: 20px;
}

th, td {
    border: 2px solid blue;
    padding: 3px;
    background: white;
}

th {
  font-size: 18px;
}

.weather-show {
  border: 6px solid blue;
  border-radius: 10px;
  padding: 8px 20px 20px 20px;
  width: 370px;
  background: white;

}

.location-input {
  width: 40%;
  border: 2px solid;
}

// @-webkit-keyframes snow {
//     0% { background-position: 0px 0px, 0px 0px, 0px 0px }
//     50% { background-color: #b4cfe0 }
//     100% {
//         background-position: 500px 1000px, 400px 400px, 300px 300px;
//         background-color: #6b92b9;
//     }
// }
// @-moz-keyframes snow {
//     0% { background-position: 0px 0px, 0px 0px, 0px 0px }
//     50% { background-color: #b4cfe0 }
//     100% {
//         background-position: 500px 1000px, 400px 400px, 300px 300px;
//         background-color: #6b92b9;
//     }
// }
// @-ms-keyframes snow {
//     0% { background-position: 0px 0px, 0px 0px, 0px 0px }
//     50% { background-color: #b4cfe0 }
//     100% {
//         background-position: 500px 1000px, 400px 400px, 300px 300px;
//         background-color: #6b92b9;
//     }
// }
// @keyframes snow {
//     0% { background-position: 0px 0px, 0px 0px, 0px 0px }
//     50% { background-color: #b4cfe0 }
//     100% {
//         background-position: 500px 1000px, 400px 400px, 300px 300px;
//         background-color: #6b92b9;
//     }
// }
